/* Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Color variables */

:root
{
    --background-color: #1b1b1bff;
    --background-color-header_footer: #000000ff;
    --background-bibtex: #4b4a48ff;
    --text-color: #f5f5f7ff;
    --general-color: #d6c378ff;
    --color-link: #8b8bb4ff;
}


/* General styles */

h1, h2
{
    text-align: center;
}

h2
{
    color: var(--general-color);
    font-weight: 200;
    font-size: 3rem;
}

p
{
    font-weight: 200;
    font-size: 1.3rem;
    text-align: justify;
    overflow-wrap: break-word;
    line-height: 1.5em;
    padding: 15px;
}

figure
{
    text-align: center;
    margin: 50px;
}

img
{
    width: 100%;
    height: auto;
    max-width: 960px;
    margin-bottom: 1rem;
}

.image_rounded
{
    border-radius: 2vmin;
}

.figure-caption
{
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.5em;
}

table
{
    text-align: center;
    width: calc(100% - 30px);   /* shrink a bit to leave space on both sides */
    max-width: 960px;
    margin: 50px auto;          /* vertical + horizontal centering */
    border-collapse: collapse;
    box-sizing: border-box;
}

table, th, td {
    border: 2px solid var(--general-color);
    padding: 10px;
    text-align: center;
}

.image_rounded
{
    border-radius: 2vmin;
}

/* Table general styling */
table {
    text-align: center;
    width: calc(100% - 30px);
    max-width: 960px;
    margin: 50px auto;
    border-collapse: collapse;
    box-sizing: border-box;
    background-color: #1f1f1fff; /* dark background for table body */
}

/* Table caption */
caption.table-caption {
    caption-side: top;
    text-align: center;
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.5em;
    margin-bottom: 8px;
    color: var(--general-color);
}

/* Header row */
th {
    border: 2px solid var(--general-color);
    padding: 10px;
    background-color: #2a2a2aff; /* slightly lighter dark color */
    color: var(--general-color);
}

/* Table cells */
td {
    border: 2px solid var(--general-color);
    padding: 10px;
    color: var(--text-color);
}

/* Zebra stripes */
tbody tr:nth-child(even) {
    background-color: #262626ff; /* darker stripe */
}

tbody tr:nth-child(odd) {
    background-color: #1f1f1fff; /* lighter stripe */
}

/* Optional: hover effect for rows */
tbody tr:hover {
    background-color: #333333ff;
    transition: 0.2s;
}


/* Approximatly from top to bottom in the page */

body
{
    background-color: var(--background-color);
    margin: 0px;
}

.container-header
{
    background-color: var(--background-color-header_footer);
    padding-top: 1px;
    padding-bottom: 1px;
}

.logos
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    /*space-evenly*/
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.logo
{
    width: 150px;
    margin: auto;
    top: 50%;
}

.container-main
{
    background-color: var(--background-color);
}

main, header, footer
{
    color: var(--text-color);
    font-family: Inter, sans-serif;
    margin: auto;
}

main
{
    background-color: var(--background-color);
}

header
{
    background-color: var(--background-color-header_footer);
    border: none;
    padding: 15px;
}

.title-short-name, .title-long
{
    color: var(--general-color);
    display: block;
}

.title-short-name
{
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.title-long
{
    font-weight: 200;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.authors, .universities
{
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3rem;
}

.author, .university
{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 8px;
    text-align: center;
}

.link-header
{
    color: var(--color-link);
    text-decoration: none;
}

.link-header:hover
{
    text-decoration: underline;
}

.buttons
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    /*space-evenly*/
    align-items: center;
    margin-bottom: 3rem;
}

.button-link
{
    font-weight: 400;
    font-size: 1.5rem;
    border: none;
    outline: none;
    padding: 10px 12px;
    border-radius: 10px;
    background-color: var(--general-color);
    color: var(--background-color);
    margin: 10px;
}

.button-link:hover
{
    cursor: pointer;
    opacity: 0.85;
}

.button-link:active
{
    background-color: var(--text-color);
}

.licence
{
    font-weight: 500;
}

footer
{
    background-color: var(--background-color-header_footer);
    color: var(--text-color);
    font-weight: 200;
    font-size: 0.8rem;
    padding: 25px;
    text-align: center;
    overflow-wrap: break-word;
}

.text-footer
{
    padding: 5px;
}

.bibtex-text
{
    overflow-x: auto;
    background-color: var(--background-bibtex);
    padding: 20px;
    border-radius: 10px;
    margin: 50px;
}

.mailto-link
{
    color: var(--general-color);
}


/* Adapt to screen size */

@media screen and (min-width: 1024px)
{
    main, header, figure
    {
        max-width: 960px;
    }
}

@media screen and (max-width: 768px)
{
    .logo
    {
        width: 100px; /*150px;*/
    }

    .title-short-name
    {
        font-size: 3.5rem; /*5rem;*/
    }

    .title-long
    {
        font-size: 2rem; /*2.5rem;*/
    }

    .authors
    {
        font-size: 1.3rem; /*1.5rem;*/
    }

    .universities
    {
        font-size: 1.3rem; /*1.5rem;*/
    }

    .button-link
    {
        font-size: 1.3rem; /*1.5rem;*/
    }

    footer
    {
        font-size: 0.6; /*0.8rem;*/
    }
}

@media screen and (max-width: 568px)
{
    .logos
    {
        display: inline;
    }
}

/*
568px
768px
992px
1024px
1280px
*/
